#_home {
  padding: -2rem;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#gmap {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  max-height: 100%;
  z-index: 0;
  background-color: #2F323A;
  box-sizing: border-box;
}

.loading-all {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  width: 100%;

  -webkit-transition: bottom 0.4s ease-in-out;
  -moz-transition: bottom 0.4s ease-in-out;
  -ms-transition: bottom 0.4s ease-in-out;
  -o-transition: bottom 0.4s ease-in-out;
  transition: bottom 0.4s ease-in-out;
}

.bottom {
  position: relative;
}

.bottom.closed {
  bottom: 0px;
}

.upper {
  position: absolute;
  padding: 0.5rem 1rem;
  z-index: 4;

  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.upper.opened {
  top: 0px;
  width: 100%;

}

.upper.closed {
  top: -50%;
}

#modal-bottom {
  position: absolute;
  bottom: -100%;
  left: 0;
  z-index: 3;
}

#modal-content {
  position: relative;
  top: 0;
  left: 2%;
  width: 96%;
  /*#E4BAAE*/
  min-height: 100vh;

  z-index: 3;

  background-color: rgba(0, 0, 0, 0.5);

  -webkit-appearance: none;
  -webkit-box-shadow: 0px 0px 37px 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 37px 6px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 37px 6px rgba(0,0,0,0.5);
}

.modal-placeholder {
  width: 100%;
  padding: 1.7rem 0.25rem 0rem 0.25rem;
  /* height: 60px; */
}


/* #modal-bottom p.modal-image {
  z-index: 2;
  top: 0vh;
  left: 1.2rem;

  -webkit-transform: translate(0, 50vh);
  transform: translate(0, 50vh);
} */

#modal-bottom p.modal-add-local {
  z-index: 2;
  top: 0vh;
  left: 74vw;

  -webkit-transform: translate(0, 0, 0);
  transform: translate(0, 0, 0);
}

#modal-bottom p.modal-add-evento  {
  z-index: 2;
  top: 0vh;
  left: 85vw;

  -webkit-transform: translate(0, 0, 0);
  transform: translate(0, 0, 0);
}

#modal-bottom p.img-holder  {
  position: absolute;

  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#modal-bottom p.icon-holder  {
  position: absolute;
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.9rem;
  border-radius: 100rem;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #e61367;
  /* border: 2px solid #ff0066; */
}

#modal-bottom p img {
  max-width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.modal-wrapper.default {
  position: relative;
  overflow: hidden;

  width: 100%;

  -webkit-transform: translate(0vw, 0);
  transform: translate(0vw, 0);


  /* top: -50px;
  left: 5.8rem;
  width: 80%; */
}

.modal-wrapper.form-local {
  position: absolute;
  overflow: hidden;

  top: 0;

  width: 100%;

  -webkit-transform: translate(100vw, 0);
  transform: translate(100vw, 0);
}

.modal-wrapper .content {
  overflow: hidden;
  padding: 1rem 1.2rem 1rem 1.2rem;

  background-color: rgba(251, 251, 255, 0.98);

  margin-bottom: 0.4rem;
}

.modal-wrapper .content:last-child {
  margin-bottom: 0rem;
}

.modal-wrapper .header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.modal-wrapper .header .header-img img{
  width: 3.5rem;
  height: 3.5rem;
}

.modal-wrapper .header .header-info{
  padding: 0 0.8rem;
}

.modal-wrapper .eventos .info h2 {
  color: #e61367;
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 200;
  padding-bottom: 0.1rem;
}

.modal-wrapper .header h1 {
  color: #e61367;
  font-size: 1.1rem;
  line-height: 1.2rem;
  font-weight: 400;
  padding-bottom: 0.4rem;
}

.modal-wrapper .header p {
  color: #a4a4a4;
  font-size: 0.74rem;
  letter-spacing: 0.04rem;
  font-weight: 300;
}

.modal-wrapper .eventos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.modal-wrapper .eventos h1 {
  color: #2f323a;
  font-size: 0.9rem;
  line-height: 0.9rem;
  font-weight: 200;
  padding-bottom: 0.1rem;
  width: 100%;
}

.modal-wrapper .eventos .evento-info{
  padding: 0 0.8rem;
}

.modal-wrapper .eventos .evento-info p.evento-titulo {
  color: #2f323a;
  font-size: 1rem;
  letter-spacing: 0rem;
  font-weight: 600;
  text-align: left;
}

.modal-wrapper .eventos .evento-img img{
  width: 3.5rem;
  height: 3.5rem;
}

.modal-wrapper .eventos .evento-info p.evento-hora {
  color: #a4a4a4;
  font-size: 0.74rem;
  padding-bottom: 0.2rem;
  font-weight: 300;
}

.modal-wrapper .eventos .evento-info p.evento-descri {
  color: #2f323a;
  font-size: 0.8rem;
  font-weight: 300;
}

.adicionar {
  padding: 0 !important;
}

.adicionar .botoes {
  /* padding-top: 1rem; */
}

.botoes .botao {
  display: inline-block;
  margin-right: 2rem;
  padding: 1rem 0.5rem;
}

.botoes .botao.right {
  width: 100%;
  margin-right: 2rem;
  padding: 1rem 0.5rem;
  text-align: right;
}

.botoes .botao p {
  color: #2f323a;
  font-size: 0.8rem;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.botoes .botao:last-child {
  margin-right: 0rem;
}

.botoes .botao i {
  padding:0 0.1rem;
}

.modal-wrapper .badges {
  /* background-color: #F7F0F0; */
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.badges .badge-item {
  display: inline-block;
  margin-right: 0.8rem;
  text-align: center !important;
}

.badges .badge-item:last-child {
  margin-right: 0;
}

.badge-item .badge-legenda {
  color: #2f323a;
  position: relative;
  top: 0;
  left: 0;
  font-size: 0.7rem;
  font-weight: 600;
  width: 100%;
  display: block;
}

.badge-item p.badge-image {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  margin: 0 auto;

  background-color: #f3f3f3;
  border: 2px solid #f3f3f3;

  display: flex;
  align-items: center;
  text-align: center;
}

.badge-item p i {
  width: 100%;
  color: #a5a5a5;
  font-size: 2rem;
}

.modal-wrapper .descript {
  /* background-color: #F7F0F0; */
}

.modal-wrapper .descript h1 {
  color: #e61367;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.3rem;
}

.modal-wrapper .descript p {
  color: #181818;
  font-size: 0.8rem;
  font-weight: 300;
  /* margin-top: -2px; */
}

.form:disabled {
  opacity: 0.5;
}

.input-holder.fundo {
  border-radius: 2px !important;
  background-color: rgba(251, 251, 255, 0.92);
  -webkit-box-shadow: 0px 0px 0px 0px #FBB13C !important;
  box-shadow: 0px 0px 0px 0px #FBB13C !important;
}

.input-holder.fundo input {
  color: #181818;
}

.input-holder.fundo input::placeholder {
  color: #000000 !important;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: -0.03rem;
  text-align: center;
}

.input-holder.small {
  width: 100%;
  border-radius: 0px !important;
  -webkit-box-shadow: 0px 0px 0px 0px #FBB13C !important;
  box-shadow: 0px 0px 0px 0px #FBB13C !important;
  margin-bottom: 0.8rem !important;
}

.input-holder.small select option:disabled {
  color: red !important;
}

.input-holder.small input, .input-holder.small textarea, .input-holder.small select, .input-holder.small select option {
  border-radius: 0px !important;
  width: 100%;
  color: #181818;
  padding: 0.2rem 0 !important;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif !important;
  border-bottom: 1px solid #b2b2b3;
  letter-spacing: 0rem;
}

.input-holder.small input::placeholder {
  color: #cccccc !important;
  font-size: 0.8rem;
  opacity: 1;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: 0rem;
}

.input-holder.small input:focus, .input-holder.small textarea:focus, .input-holder.small select:focus {
  border-bottom: 1px solid #2f323a !important;
}

.input-holder.small select:invalid {
  color: #cccccc !important;
}

.input-holder.small .alert {
  border-bottom: 1px solid #EF626C !important;
}

.aux-ativo {
  color: #e61367 !important;
}

.hide {
  display: none;
}

.spinner2 {
  margin: 2px auto 0;
  width: 70px;
  text-align: center;
}

.spinner2 > div {
  width: 18px;
  height: 18px;
  background-color: #d56793;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner2 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner2 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(0.8) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
